.winners {
  // Константы
  @mixin mod($mod) {
    @include modifier("winners", $mod){
      @content;
    }
  }

  position: relative;

  &__bg {
    @include option(width, 2239);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
  }

  &__parallax-item {
    position: absolute;
    z-index: $z-parallax;
    img {
      height: 100%;
    }
  }

  &__item-1 {
    @include option(top, 440, 672);
    @include option(left, 183, 935);
    @include option(width, 98, 38.15);
    @include option(height, 98, 39);
  }

  &__item-2 {
    @include option(top, 293);
    @include option(left, 500);
    @include option(width, 82);
    @include option(height, 86);
  }

  &__item-3 {
    @include option(top, 611);
    @include option(left, 500);
    @include option(width, 78);
    @include option(height, 70);
  }

  &__item-4 {
    @include option(top, 746, 136);
    @include option(left, 840, 1236);
    @include option(width, 41, 39);
    @include option(height, 40);
  }

  &__item-5 {
    @include option(top, 803, 650);
    @include option(right, 640, 897);
    @include option(width, 145, 90);
    @include option(height, 160, 93);
  }

  &__item-6 {
    @include option(top, 230);
    @include option(right, 490);
    @include option(width, 75);
    @include option(height, 99);
  }

  &__item-7 {
    @include option(top, 564, 51);
    @include option(right, 472, 906);
    @include option(width, 76);
    @include option(height, 83);
  }

  &__item-8 {
    @include option(top, 333);
    @include option(right, 239);
    @include option(width, 40);
    @include option(height, 40);
  }

  &__parallax-circle {
    @include option(top, 577);
    @include option(right, -165);
    @include option(width, 557);
    @include option(height, 557);
  }

  &__content {
    @include wrapper;
    @include option(padding, 203 0 100 0, 85 0 40 0);
  }

  &__title {
    @extend %WINNERS-TITLE;
    @include option(margin, 0 0 75 0, 0 0 32 0);
    text-align: center;
    @include MOBILE {
      text-align: left;
    }
  }

  .winners__carousel-btn {
    position: absolute;
    @include option(top, 505);
    @include option(width, 11);
    @include option(height, 20);
    background: url("../images/winners/arrow.svg");
    background-repeat: no-repeat;
    //background-size: cover;
    z-index: 22;
    @include HOVER() {
      &:hover {
        cursor: pointer;
      }
    }
    @include MOBILE {
      display: none;
    }
  }

  &__btn-prev {
    @include option(left, 40);
  }

  &__btn-next {
    @include option(right, 40);
    transform: rotateY(180deg);
  }

  &__carousel {
    @include option(width, 705, 310);
    @include option(height, 505, 480);

    .swiper-slide-active {
      opacity: 1;
      z-index: 1;
      transform: scale(1.18) translate(0, 26%);
      @include MOBILE {
        transform: scale(1) translate(0,0);
      }
    }

  }

  &__carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(width, 235, 310);
    @include option(height, 330, 435);
    @include option(padding, 24 0 0 0, 31 0 0 0);
    box-sizing: border-box;
    background: #00BCA8;
    background: linear-gradient(180deg, #D483E1 29.34%, #00BCA8 100%);
    opacity: 0.5;
    transition: .4s ease-in-out;
  }

  &__item-photo {
    @include option(width, 104, 140);
    @include option(height, 102, 140);
    img {
      height: 100%;
      display: block;
    }
  }

  &__item-family {
    @extend %WINNERS-FAMILY;
    @include option(margin, 14 0 3 0, 14 0 1 0);
    @include option(letter-spacing, 0.8);
    text-transform: uppercase;
  }

  &__item-wins {
    @extend %WINNERS-W;
    text-transform: uppercase;
    @include option(letter-spacing, 0.8);
  }

  &__item-sum {
    @extend %WINNERS-SUM;
    @include option(width, 222.76, 293);
    @include option(height, 43.84, 57);
    @include option(margin, 9 0 18 0, 13 0 26 0);
    @include option(padding, 5 0);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90.26deg, #FF6A29 0.07%, #ED3838 97.89%);
    @include option(border-radius, 22 22 22 5, 25 25 25 5);
    box-sizing: border-box;
    text-align: center;
  }

  &__item-point {
    @extend %WINNERS-ITEM;
    display: flex;
    align-items: center;
    @include option(margin, 0 0 12 0, 0 0 14 0);

  }

  &__region-icon {
    @include option(width, 12.59, 21.61);
    @include option(height, 19.85, 28.18);
    @include option(padding, 0 15 0 2);

    img {
      height: 100%;
      display: block;
    }
  }

  &__date-icon {
    @include option(width, 19.96, 28.16);
    @include option(height, 19.94, 24.14);
    @include option(padding, 0 10 0 0);
    img {
     height: 100%;
      display: block;
    }
  }

  &__pagination {
    display: none;
    width: auto;
    @include option(height, 11.22);
    @include option(margin, -19 auto);
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;
    z-index: $z_parallax+1;
    .swiper-pagination-bullet {
      @include option(width, 11.33);
      @include option(height, 11.33);
      border-radius: 50%;
      border: 1px solid $PAGINATION-COLOR;
      transition: background-color .4s ease-in-out;
    }
    .swiper-pagination-bullet-active {
      @include option(width, 11.33);
      @include option(height, 11.33);
      background: $PAGINATION-COLOR;
    }
    @include MOBILE {
      display: flex;
    }
  }

  &__button {
    @include option(margin, 23 auto 0, 32 auto 0);
    background: linear-gradient(270deg, #89FA58 0%, #C3FF38 100%);
    color: #000000;
  }

}
