/**
 * Обычный текст
 */
%DEFAULT {
  font-family: $Arial;
  font-size: 18px;
  color: #000000;
  @include MOBILE {
    font-size: 20px;
  }
}

/**
 * Заголовок
 */
%INTRO-TITLE {
  font-family: "robotobold";
  @include option(font-size, 45, 36.2);
  line-height: 1;
  color: $WHITE;
}

%INTRO-SUM {
  font-family: "robotobold";
  @include option(font-size, 65, 52.4);
  line-height: 1.2;
  color: $WHITE;
}

%INTRO-SUBTITLE {
  font-family: "robotobold";
  @include option(font-size, 35, 35.4);
  line-height: 1.2;
  color: $WHITE;
}

%CARD-TEXT {
  font-family: "robotoregular";
  @include option(font-size, 18.1, 11);
  line-height: 1.2;
  color: $WHITE;
}

%CARD-SUM {
  font-family: "robotomedium";
  @include option(font-size, 29.7, 19);
  line-height: 1;
  color: $WHITE;
}

%CARD-TIME-T {
  font-family: "robotoregular";
  @include option(font-size, 16.1, 11);
  line-height: 1.2;
  color: $WHITE;
}

%CARD-TIME {
  font-family: "robotoregular";
  @include option(font-size, 27, 16);
  line-height: 1.2;
  color: $WHITE;
}

%CARD-COST {
  font-family: "robotoregular";
  @include option(font-size, 17.4, 11);
  line-height: 1.1;
  color: $WHITE;
}

/**
 * Заголовок статистики
 */
%STATISTIC-TITLE {
  font-family: "robotobold";
  @include option(font-size, 42);
  line-height: 1.2;
  color: $BLACK;
}

%STATISTIC-ITEM-B {
  font-family: "robotobold";
  @include option(font-size, 16, 15.9);
  line-height: 1.3;
  color: $BLACK;
}

%STATISTIC-ITEM-N {
  font-family: "robotoregular";
  @include option(font-size, 16, 15.8);
  line-height: 1.3;
  color: $BLACK;
}

%WINNERS-TITLE {
  font-family: "robotoregular";
  @include option(font-size, 42);
  line-height: 1.2;
  color: $YELLOW-W;
}

%WINNERS-TITLE {
  font-family: "robotoregular";
  @include option(font-size, 42);
  line-height: 1.2;
  color: $YELLOW-W;
}

%WINNERS-FAMILY {
  font-family: "robotobold";
  @include option(font-size, 10.7, 14.1);
  line-height: 1.45;
  color: $WHITE;
}

%WINNERS-W {
  font-family: "robotomedium";
  @include option(font-size, 10.7, 14.1);
  line-height: 1.45;
  color: $WHITE;
}

%WINNERS-SUM {
  font-family: "robotobold";
  @include option(font-size, 29.5, 38.9);
  line-height: 1.2;
  color: $RED-W;
}
%WINNERS-ITEM {
  font-family: "robotoregular";
  @include option(font-size, 10.7, 14.1);
  line-height: 1.2;
  color: $WHITE;
}

%FOOTER-TEXT {
  font-family: "robotoregular";
  @include option(font-size, 10, 14);
  line-height: 1.3;
  color: $WHITE;
}
/**
 * Кнопка
 */
%BUTTON {
  font-family: "robotobold";
  @include option(font-size, 21);
  line-height: 0.85;
  color: $WHITE;
}
