.analytics {
  // Константы
  @mixin mod($mod) {
    @include modifier("analytics", $mod){
      @content;
    }
  }

  &__pixel{
		position: fixed;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
  }

}
