<!-- Start Google UA -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44214555-1', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('set', '&uid', '');
    ga('require', 'ecommerce');
    ga(function (tracker) {
        var clientId = ga.getAll()[0].get('clientId');
        clientId = clientId ? clientId: '(not found)';
        tracker.set('dimension4', clientId);
    });
    ga('send', 'pageview');

</script>
<!-- End Google UA -->
