.intro {
  // Константы
  @mixin mod($mod) {
    @include modifier("intro", $mod){
      @content;
    }
  }

  position: relative;
  overflow-x: hidden;

  &__bg {
    @include option(width, 2239);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: $z-parallax;
  }

  &__parallax-item {
    position: absolute;
    img {
      height: 100%;
    }
  }

  &__item-1 {
    @include option(width, 77.91);
    @include option(height, 77.91);
    @include option(top, 356, 304);
    @include option(left, 454, 909);
  }

  &__item-2 {
     @include option(width, 110);
     @include option(height, 110);
     @include option(top, 630);
     @include option(left, 594);
  }

  &__item-3 {
    @include option(width, 145, 107);
    @include option(height, 145, 100);
    @include option(top, 549, 446);
    @include option(right, 749, 921);
  }

  &__item-4 {
    @include option(width, 180, 93);
    @include option(height, 190, 98);
    @include option(top, -3, 251);
    @include option(right, 449, 882);
  }

  &__item-5 {
    @include option(width, 111, 101);
    @include option(height, 114, 105);
    @include option(top, 351, 380);
    @include option(left, 1071, 953);
  }

  &__item-6 {
    @include option(width, 82, 80);
    @include option(height, 78, 74);
    @include option(top, 318, 318);
    @include option(right, 754, 960);
  }

  &__item-7 {
    @include option(width, 821, 536);
    @include option(height, 806, 526);
    @include option(top, -656, -440);
    @include option(left, 266, 744);
    img {
      height: 100%;
    }
  }

  &__content {
    @include wrapper;
    @include option(padding, 31 0 0 0, 15 0 0 0);
    box-sizing: border-box;


  }

  &__logo {
    @include option(width, 175.46);
    @include option(height, 36.16);
    position: relative;
    display: block;
    z-index: $z_parallax+1;
    img {
      height: 100%;
      display: block;
    }
  }

  &__title {
    @extend %INTRO-TITLE;
    @include option(margin, 163 0 53 0, 35 0 338 0);
  }

  &__sum {
    @extend %INTRO-SUM;
    text-shadow: 0.05em 0 0 #ff3471, -0.05em 0 0 #34ffda;
    white-space: nowrap;
  }

  &__button {
    @include option(margin, 0 0 213 0, 0 0 55 0);
  }

  &__mobile {
    position: absolute;
    @include option(width, 377, 270);
    @include option(height, 590, 422);
    @include option(top, 93, 232);
    @include option(right, 70, 26);
    img {
      height: 100%;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      @include option(width, 448, 284);
      @include option(height, 448, 293);
      @include option(top, 88, 67);
      @include option(left, -19, 7);
      background: url("../images/intro/circle_bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__tryD {
    @extend %INTRO-SUBTITLE;
    @include option(margin, 0 0 15 0);
    text-align: center;
    position: relative;
    z-index: $z_parallax;
    @include MOBILE {
      display: none;
    }
  }

  &__tryM {
    @extend %INTRO-SUBTITLE;
    @include option(margin, 0 0 15 0);
    text-align: left;
    @include option(letter-spacing, 0.1);
    display: none;
    position: relative;
    z-index: $z_parallax;
    @include MOBILE {
      display: block;
    }
  }

  &__arrow {
    @include option(width, 31, 32);
    @include option(height, 41, 36);
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: $z_button;
    img {
      height: 100%;
    }
  }
}
