.intro {
  // Константы
  @mixin mod($mod) {
    @include modifier("intro", $mod){
      @content;
    }
  }

  position: relative;
  overflow-x: hidden;

  &__bg {
    @include option(width, 2239);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: $z-parallax;
  }

  &__parallax-item {
    position: absolute;
    img {
      height: 100%;
    }
  }

  &__item-1 {
    @include option(width, 77.91);
    @include option(height, 77.91);
    @include option(top, 356);
    @include option(left, 454);
  }

  &__item-2 {
     @include option(width, 110);
     @include option(height, 110);
     @include option(top, 630);
     @include option(left, 594);
  }

  &__item-3 {
    @include option(width, 145);
    @include option(height, 145);
    @include option(top, 548);
    @include option(right, 794);
  }

  &__item-4 {
    @include option(width, 180);
    @include option(height, 190);
    @include option(top, -3);
    @include option(right, 449);
  }

  &__item-5 {
    @include option(width, 111);
    @include option(height, 114);
    @include option(top, 351);
    @include option(left, 1071);
  }

  &__item-6 {
    @include option(width, 82);
    @include option(height, 78);
    @include option(top, 318);
    @include option(right, 754);
  }

  &__item-7 {
    @include option(width, 821);
    @include option(height, 806);
    @include option(top, -656);
    @include option(left, 266);
    img {
      height: 100%;
    }
  }

  &__content {
    @include wrapper;
    @include option(padding, 31 0 0 0);


  }

  &__logo {
    @include option(width, 175.46);
    @include option(height, 36.16);
    position: relative;
    display: block;
    z-index: $z_parallax+1;
    img {
      height: 100%;
      display: block;
    }
  }

  &__title {
    @extend %INTRO-TITLE;
    @include option(margin, 163 0 53 0);
  }

  &__sum {
    @extend %INTRO-SUM;
  }

  &__button {
    @include option(margin, 0 0 213 0);
  }

  &__mobile {
    position: absolute;
    @include option(width, 377  );
    @include option(height, 590);
    @include option(top, 93);
    @include option(right, 70);
    img {
      height: 100%;
      position: relative;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      @include option(width, 448);
      @include option(height, 448);
      @include option(top, 88);
      @include option(left, -19);
      background: url("../images/intro/circle_bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__try {
    @extend %INTRO-SUBTITLE;
    @include option(margin, 0 0 15 0);
    text-align: center;
  }

  &__arrow {
    @include option(width, 31);
    @include option(height, 41);
    display: block;
    margin: 0 auto;
    svg {
      height: 100%;
    }
  }
}
