mixin social-block(content, params)
  .social-block&attributes(attributes)
    .social-block__title!=content.title
    .social-block__buttons
      +pug-list(content, "social-block__item", params)

mixin social-block__item(content, params)
  if typeof content === 'string'
    -content = {soc: content};
  -params = assign({mixin: 'social-block__item-a', soc: content.soc}, params);
  +pug-mixin(params.mixin, content)(class=`social-block__item_${content.soc}`).social-block__item&attributes(content.attr)&attributes(attributes)
    != read(`app/components/project/footer/svg/${content.soc}.svg`)

mixin social-block__item-a
  a&attributes(attributes)
    block
