//https://www.materialui.co/socialcolors
// $SOCIAL-COLORS: (
  // fb: #3b5999,
  // ig: #e4405f,
  // tw: #55acee,
  // vimeo: #1ab7ea,
  // yt: #cd201f,
  // vk: #4c75a3,
  // tg: #0088cc,
// );
.social-block {
  // Константы
  @mixin mod($mod) {
    @include modifier("social-block", $mod){
      @content;
    }
  }

  order: 1;

  @include option(padding, 2 0 0 0);

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include option(width, 202, 310);
  }

  &__item {
    @include option(width, 20, 18);
    @include option(height, 30, 25);
    @include option(padding, 2);
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    svg {
      display: block;
      height: 100%;
    }
    transition: opacity .3s ease-in-out;
    @include HOVER() {
      &:hover {
        opacity: 0.5;
      }
    }
  }

}
