include ../../gui/carousel/carousel

mixin p-example__carousel-item(content, params)
  .p-example__carousel-item()
    .p-example__carousel-item-image(style=`background-color: ${content.color}; margin: auto; width: 30vh; height: 30vh;`)
      | Слайд !{content.text}

mixin p-example__carousel(content, params)

  +p-example__page().p-example__carousel&attributes(attributes)
    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      Для простых каруселей используется [`slick-carousel`](http://kenwheeler.github.io/slick/) и обертка для него `project/gui/carousel`

      ```pug
      mixin slide(content, params)
        .slide(style=`background-image: url("${content}")`)

      +carousel(["1.png", "2.png", "3.png"], {mixin: 'slide'})
      ```

      * Первый аругмент - массив элементов карусели.
      * Второй - параметры, среди которых
        * `mixin` - миксин элемента карусели, в этот миксин будет передан каждый элемент из массива в первом параметре


      ## Примеры
    +carousel([
      {"text": 1, "color": "#f88"},
      {"text": 2, "color": "#c88"},
      {"text": 3, "color": "#988"},
      {"text": 4, "color": "#688"},
      {"text": 5, "color": "#388"},
      {"text": 6, "color": "#088"}
    ], {mixin: 'p-example__carousel-item'})(style='text-align: center;')
    block
