.button {
  @extend %BUTTON;
  @include option(width, 265, 310);
  @include option(height, 60, 65);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: (100%,100%);
  border-radius: 38px;
  text-decoration: none;
  z-index: $z_button;

  &_blink {
    background: linear-gradient(90deg, #FFCD17 0%, #FD9346 29.69%, #FF5656 100%);
    animation: btn-blink .8s ease-in-out  reverse infinite;
  }

  &_orange {
    background: linear-gradient(90deg, #FF6717 0%, #FF5A57 100%);
    @include HOVER() {
      &:hover {
        background-size: (500%, 200%);
      }
    }
  }

  &_green {
    background: linear-gradient(270deg, #89FA58 0%, #C3FF38 100%);
    color: #000000;
  }


}


