mixin p-example__form(content, params)
  +p-example__page().p-example__form&attributes(attributes)
    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      # Формы
      ## Чекбокс
      ```pug
      +checkbox()(name="agree") я согласен с #[a(href='#' target='_blank') условиями акции]
      ```
    +checkbox()(name="agree") я согласен с #[a(href='#' target='_blank') условиями акции]

    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      ------
      ## Радиокнопка
      ```pug
      +checkbox()(type="radio" name="sex" value="female") Жен
      +checkbox()(type="radio" name="sex" value="male") Муж
      ```
      ## Радиогруппа
      ```pug
      +radiogroup({
        "title": "В общем случае история коммитов в гит выглядит как",
        items: [
          {value: "graph", label: "Граф"},
          {value: "tree", label: "Дерево"},
          {value: "array", label: "Массив"},
          {value: "list", label: "Список"}
        ]
      })(name='git')
      ```
    +radiogroup({
      "title": "В общем случае история коммитов в гит выглядит как",
      items: [
        {value: "graph", label: "Граф"},
        {value: "tree", label: "Дерево"},
        {value: "array", label: "Массив"},
        {value: "list", label: "Список"}
      ]
    })(name='git')


    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      ---
      ## Поля ввода
      ```pug
      +input()(name="name" placeholder="Имя")
      +input()(name="email" placeholder="email" type="email")
      +input({tag: 'textarea'})(name="description" rows="5" placeholder="Описание")

      +input({title: 'Заголовок', usePlaceholderAsTitle:false})(name="description" placeholder="Заголовок")
      ```
    +input()(name="name" placeholder="Имя")
    +input()(name="email" placeholder="email" type="email")
    +input({tag: 'textarea'})(name="description" rows="5" placeholder="Описание")

    +input({title: 'Имя', usePlaceholderAsTitle:false})(name="description" placeholder="")

    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      ---
      ## Выпадающий список
      ```pug
      +select({options: ['Опция 1', 'Опция 2', 'Опция 3']})(name='options' placeholder="Опции 1")
      +select({options: [
        {
          label: 'Опция 1',
          value: 1
        }, {
          label: 'Опция 2',
          value: 2
        }, {
          label: 'Длинная опция',
          value: 3
        }]
      })(name='date' placeholder="Опции")

      +select-date()(name='birthdate')
      ```
    +select({options: ['Опция 1', 'Опция 2', 'Опция 3']})(name='options' placeholder="Опции 1")
    +select({options: [
      {
        label: 'Опция 1',
        value: 1
      }, {
        label: 'Опция 2',
        value: 2
      }, {
        label: 'Длинная опция',
        value: 3
      }]
    })(name='date' placeholder="Опции")

    +select-date()(name='birthdate')

    hr

    h1 Валидация формы

    +form.p-example__form-form
      +input()(name="firstname" placeholder="Имя" data-validations='required:Введите Ваше имя')
      +input()(name="lastname" placeholder="Фамилия" data-validations!={required:"Введите фамилию"})
      +input()(name="email" placeholder="email" data-validations='required,email')
      +input()(name="phone" placeholder="phone" data-validations='required,phone')
      +select({"title": "Опции", "options":['Опция 1', 'Опция 2', 'Опция 3']})(
        name="options"
        placeholder="Выберите 1 вариант"
        data-validations='required:Выберите один вариант'
      )
      +select-date({"title": "Дата рождения"})(name='birthdate' data-validations='required,min-date:2000-10-14:Минимальная дата 14.10.2000')
      +radiogroup({
        "title": "Пол",
        items: [
          {value: "female", label: "Жен."},
          {value: "male", label: "Муж."}
        ]
      })(name='sex' data-validations='required')
      +input()(name="password" placeholder="Пароль" type="password" data-validations='required,password')
      +input()(name="confirm-password" placeholder="Повторите пароль" type="password" data-validations='required,equal:password:Введенные пароли не совпадают')
      +checkbox()(name="agree" value="1" data-validations='required') я согласен с #[a(href='#' target='_blank') условиями акции]

      +button()(type='submit') Отправить

