extends components/project/custom-page/custom-page

include components/project/p-example/p-example
include components/project/custom-modal/custom-modal
include components/project/custom-menu/custom-menu
include components/project/gui/custom-scroll/custom-scroll

append constants
  -var HTML = {'class':'_html-extra-class'}
  -var BODY = {'class':'_body-extra-class'}

prepend copyright
  -copyright = 'app/components/copyright_example.json'

block scripts
  script(src=base_url("scripts/example.js"))

append styles
  link(rel="stylesheet" href=base_url("styles/example.css"))

block title
  title Пример страницы

block page
  input(type="checkbox" id="menu-burger")
  .page.custom-page
    include components/project/custom-header/custom-header
    +p-example()


append modal
  +custom-modal(null, {fullscreen:true})#fullscreen-modal
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut felis libero. Maecenas interdum suscipit pharetra. Sed commodo dui vitae aliquet imperdiet. Donec ac nunc posuere, tristique turpis in, consectetur nisi. Vestibulum pellentesque nisl eget lacinia facilisis. Nulla turpis justo, posuere sit amet consequat non, auctor sed urna. Sed in mauris maximus, sollicitudin dui eu, semper dolor. Donec neque ligula, consectetur condimentum elementum id, accumsan quis nisl. Proin et neque interdum, condimentum nisi quis, vehicula lectus. Nulla gravida mauris accumsan est aliquet dictum. Morbi ullamcorper at massa at viverra. Proin magna quam, elementum in dictum ac, placerat in dui.
    p Mauris pellentesque congue mattis. Sed ligula orci, lobortis non ex ut, congue lobortis dolor. In euismod erat lorem, ut pulvinar tellus aliquet in. Curabitur sollicitudin pulvinar libero vitae tempor. In hac habitasse platea dictumst. In a ultricies urna. Aenean ornare ligula est, eget maximus erat vulputate eget. Integer ac malesuada mauris. Vivamus pulvinar sapien ut lectus efficitur viverra. Aliquam ullamcorper euismod rhoncus.
    p Suspendisse risus urna, volutpat in neque ut, suscipit malesuada augue. Ut ultricies fringilla volutpat. Integer et placerat ex. Sed maximus euismod mauris ac tincidunt. Donec sodales efficitur sapien a pulvinar. Sed at dictum tortor. Ut ac condimentum odio, eu vehicula arcu. Nulla consequat arcu posuere imperdiet molestie. Sed ac consectetur nulla. Nunc scelerisque mollis dolor vel commodo. Vivamus faucibus nulla vitae dolor malesuada euismod.
    p Maecenas maximus eu libero ullamcorper porta. Pellentesque sapien ligula, bibendum at molestie ac, rhoncus auctor sapien. Etiam varius dapibus turpis. Donec commodo nulla sit amet sapien porttitor porttitor. Vestibulum faucibus velit turpis, sed sollicitudin nisl rutrum non. Nunc auctor vulputate blandit. Suspendisse dignissim ligula quis sapien hendrerit tempor. Nunc felis purus, faucibus vel ante id, hendrerit tincidunt massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur pulvinar lectus sem, sed aliquet nisl fringilla sit amet. Nullam euismod lectus tellus, id faucibus velit tristique ac. Etiam nisi lorem, placerat eu ultrices commodo, finibus ac tortor. Nulla nulla sem, vehicula sed pulvinar quis, finibus non lorem. Nullam interdum orci sed orci semper mattis vitae in sem. Quisque velit nisi, tincidunt eget vestibulum at, cursus vitae libero.
    p Phasellus id tellus nunc. Suspendisse potenti. Vestibulum ut magna diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non turpis tellus. Fusce scelerisque, dolor nec imperdiet posuere, arcu nisl varius est, et rutrum lectus leo placerat nisl. In ac lacus ac enim pellentesque sagittis. Praesent ex nisl, tincidunt ac sem in, maximus malesuada justo. Vestibulum consequat et arcu ac rhoncus.

  +custom-modal()#custom-modal
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut felis libero. Maecenas interdum suscipit pharetra. Sed commodo dui vitae aliquet imperdiet. Donec ac nunc posuere, tristique turpis in, consectetur nisi. Vestibulum pellentesque nisl eget lacinia facilisis. Nulla turpis justo, posuere sit amet consequat non, auctor sed urna. Sed in mauris maximus, sollicitudin dui eu, semper dolor. Donec neque ligula, consectetur condimentum elementum id, accumsan quis nisl. Proin et neque interdum, condimentum nisi quis, vehicula lectus. Nulla gravida mauris accumsan est aliquet dictum. Morbi ullamcorper at massa at viverra. Proin magna quam, elementum in dictum ac, placerat in dui.
    p Mauris pellentesque congue mattis. Sed ligula orci, lobortis non ex ut, congue lobortis dolor. In euismod erat lorem, ut pulvinar tellus aliquet in. Curabitur sollicitudin pulvinar libero vitae tempor. In hac habitasse platea dictumst. In a ultricies urna. Aenean ornare ligula est, eget maximus erat vulputate eget. Integer ac malesuada mauris. Vivamus pulvinar sapien ut lectus efficitur viverra. Aliquam ullamcorper euismod rhoncus.
    p Suspendisse risus urna, volutpat in neque ut, suscipit malesuada augue. Ut ultricies fringilla volutpat. Integer et placerat ex. Sed maximus euismod mauris ac tincidunt. Donec sodales efficitur sapien a pulvinar. Sed at dictum tortor. Ut ac condimentum odio, eu vehicula arcu. Nulla consequat arcu posuere imperdiet molestie. Sed ac consectetur nulla. Nunc scelerisque mollis dolor vel commodo. Vivamus faucibus nulla vitae dolor malesuada euismod.
    p Maecenas maximus eu libero ullamcorper porta. Pellentesque sapien ligula, bibendum at molestie ac, rhoncus auctor sapien. Etiam varius dapibus turpis. Donec commodo nulla sit amet sapien porttitor porttitor. Vestibulum faucibus velit turpis, sed sollicitudin nisl rutrum non. Nunc auctor vulputate blandit. Suspendisse dignissim ligula quis sapien hendrerit tempor. Nunc felis purus, faucibus vel ante id, hendrerit tincidunt massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur pulvinar lectus sem, sed aliquet nisl fringilla sit amet. Nullam euismod lectus tellus, id faucibus velit tristique ac. Etiam nisi lorem, placerat eu ultrices commodo, finibus ac tortor. Nulla nulla sem, vehicula sed pulvinar quis, finibus non lorem. Nullam interdum orci sed orci semper mattis vitae in sem. Quisque velit nisi, tincidunt eget vestibulum at, cursus vitae libero.
    p Phasellus id tellus nunc. Suspendisse potenti. Vestibulum ut magna diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non turpis tellus. Fusce scelerisque, dolor nec imperdiet posuere, arcu nisl varius est, et rutrum lectus leo placerat nisl. In ac lacus ac enim pellentesque sagittis. Praesent ex nisl, tincidunt ac sem in, maximus malesuada justo. Vestibulum consequat et arcu ac rhoncus.

  mixin dyn-content__p(content, params)
    p!= content

  +custom-modal()#dyn-content
    h3 {{title}}
    +pug-list({
      list: "text",
      item: '{{this}}'
    }, 'dyn-content__p')

