extends components/project/custom-page/custom-page


prepend title
  -let title = projectDescription;

block content
  .section
    +intro(copyright.intro)
  .section
    +lotery(copyright.lotery)
  .section
    +statistic(copyright.statistic)
  .section
    +winners(copyright.winners)
  .section
    +footer(copyright.footer)

