mixin p-example__modal(content, params)
  +p-example__page().p-example__modal&attributes(attributes)
    //-markdown-it-highlight
    :markdown-it(plugins=['markdown-it-attrs', '../../app/components/project/p-example/p-example-markdown-fix'])
      # Модальные окна {.p-example__page-title}

      ## Открытие окна по клику
      *
        При клике на элемент с аттрибутом `[data-modal]` открывается модальное окно соответствующее селектору указанному в этом аттрибуте.
        ```pug
        button(data-modal='#register') Зарегистрироваться
        ```
        В этом примере при клике на кнопку будет открыто модальное окно c `id="register"`. Мы используем `id`, но вместо него может быть любой валидный селектор.

      *
        Так же в модальное окно можно передать контент с помощью аттрибута `[data-modal-params]`, при этом шаблон модального окна будет интерпретирован, как [`Handlebars`](https://handlebarsjs.com/) шаблон

        ```pug
        button(data-modal='#message' data-modal-params={title: 'Заголовок', body: 'Текст сообщения'}) Сообщение
        +custom-modal()#message
          h1 \{{title}}
          div \{{body}}
        ```

      ## Открытие окна с помощью js
      ```javascript
      $('#message').modal({
        'title': 'Заголовок',
        'body': 'Текст сообщения'
      });
      ```
      Функция `$.fn.modal` вернет не элемент с `id='message'`, а созданное модальное окно

      <br>

      ## Примеры
    +button().p-example__btn(data-modal='#fullscreen-modal') полноэкранное модальное окно

    +button().p-example__btn(data-modal='#custom-modal') data-modal

    +button().p-example__btn(data-modal='#dyn-content' data-modal-params={
      title: 'Динамический контент',
      text: ['Текст 1', 'Текст 2', 'Текст 3']
    }) data-modal + data-modal-params

    +button().p-example__btn.p-example__btn_modal js
