.lotery {
  // Константы
  @mixin mod($mod) {
    @include modifier("lotery", $mod){
      @content;
    }
  }

  position: relative;
  z-index: 1;
  overflow-x: hidden;

  &__bg {
    @include option(width, 2239);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: $z-parallax;
  }

  &__parallax-item {
    position: absolute;
    img {
      height: 100%;
    }
  }

  &__item-1 {
    @include option(width, 119);
    @include option(height, 119);
    @include option(top, 248);
    @include option(left, 425);
  }

  &__item-2 {
    @include option(width, 54);
    @include option(height, 54);
    @include option(top, 310);
    @include option(left, 596);
  }

  &__item-3 {
    @include option(width, 59);
    @include option(height, 59);
    @include option(top, 155);
    @include option(right, 518);
  }

  &__item-4 {
    @include option(width, 187);
    @include option(height, 196);
    @include option(top, 235);
    @include option(right, 395);
  }

  &__content {
    @include wrapper;
    @include option(padding, 23 26 0, 12 0 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__timer {
    @include option(width, 260, 150);
    @include option(height, 403.76, 200);
    @include option(margin, 0 0 41 0, 0 0 40 0);
  }

  &__timer-rapido {
    background: #D483E1;
    .timer__logo {
      @include option(width, 189.39, 106);
      @include option(height, 61.38, 34);
    }
    .timer__block {
      @include option(padding, 48 0 0 0, 30 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-rapido20 {
    background: #2D6875;
    .timer__logo {
      @include option(width, 197.33, 125);
      @include option(height, 77.38, 40);
    }
    .timer__block {
      @include option(padding, 30 0 0 0, 24 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-top3 {
    background: #6F2ED0;
    .timer__logo {
      @include option(width, 148.97, 91);
      @include option(height, 69.65, 42);
    }
    .timer__block {
      @include option(padding, 38 0 0 0, 24 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-12x24 {
    background: #1E7CFF;
    .timer__logo {
      @include option(width, 121.68, 75);
      @include option(height, 45.07, 34);
    }
    .timer__block {
      @include option(padding, 54 0 0 0, 29 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-duel {
    background: #00BCA8;
    .timer__logo {
      @include option(width, 197.07, 122);
      @include option(height, 61.42, 38);
    }
    .timer__block {
      @include option(padding, 42 0 0 0, 27 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-keno {
    background: #80DFFB;
    .timer__logo {
      @include option(width, 138, 96);
      @include option(height, 71.56, 50);
    }
    .timer__block {
      @include option(padding, 30 0 0 0, 20 0 0 0);
      box-sizing: border-box;
    }
  }

  &__timer-btn {
    @extend %CARD-TEXT;
    @include option(width, 191.78);
    @include option(height, 45.42);
    @include option(margin, 57 0 0 0);
    @include option(border-radius, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'robotoregular';
    background: #7DD22B;
    @include MOBILE {
      display: none;
    }
  }

  &__button {
    @include option(margin, 20 auto 0);
    background: linear-gradient(90deg, #FF6717 0%, #FF5A57 100%);
  }

}
