.p-example__page {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-example__page", $mod){
      @content;
    }
    /*.p-example__page_#{$mod} & {
      @content;
    }*/
  }
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 1em;

  &-title {
    margin: 0.15em 0;
  }
}
