//@import "../../../../node_modules/markdown-it-highlight/dist/index.css";
@import "../../../../node_modules/highlight.js/styles/dracula.css";
//body {
//  max-width: auto;
//  padding: 0 !important;
//}

@import "../gui/form/form";
@import "p-example__page/p-example__page";
@import "p-example__accordion/p-example__accordion";
@import "p-example__carousel/p-example__carousel";
@import "p-example__form/p-example__form";


.p-example {
  // Константы
  @mixin mod($mod) {
    @include modifier("p-example", $mod){
      @content;
    }
  }

  &__btn {
    width: auto;
    display: inline-block;
    @include NOT-DESKTOP(){
      width: 100%;
    }
  }

  &__title {
    font-size: 2em;
    margin: 0.5em 0;
  }

  &__desc {
    font-size: 1.4em;
    margin: 0.5em 0;
  }

}

blockquote {
  border-left: solid .25em #d5d2ff;
  padding: 0 40px;

  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
code {
  background: rgb(255, 252, 204);
  padding: .1em .2em;
  //@extend .hljs;
  //display: inline-block;
  //vertical-align: middle;
}
