include ../../framework/template-engine/template-engine
include ../gui/button/button
include ../gui/form/form

include p-example__page/p-example__page
include p-example__index/p-example__index
include p-example__accordion/p-example__accordion
include p-example__modal/p-example__modal
include p-example__carousel/p-example__carousel
include p-example__form/p-example__form

mixin p-example(content, params)
  .p-example&attributes(attributes)
    +subpage()(data-page='/')
      +p-example__index()

    +subpage()(data-page='/modal')
      +p-example__modal()

    +subpage()(data-page='/accordion')
      +p-example__accordion()

    +subpage()(data-page='/carousel')
      +p-example__carousel()

    +subpage()(data-page='/forms')
      +p-example__form()

    block
